<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section
		class="banner d-flex justify-content-center align-items-center ">

		<div class="text-center" >
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Discover a smarter way to manage your connections with our
				innovative Smart Contact Manager. Say goodbye to the chaos of
				scattered information and embrace a seamless, intelligent system
				designed to save you time and effort. Explore the future of contact management and
				experience the difference today</p>
				
			<button class="btn btn-outline-primary" >Get Started</button>	
		</div>

	</section>


</body>
</html>
